.ad_main-section {
    cursor: pointer;
}

.ad_main-text-wrapper {
    background: linear-gradient(#008cff, #00c3ff);
    border: 3px solid #00c3ff;
    box-shadow: 0px 0px 10px #008cff;
    border-radius: 15px;
    padding: 10px 30px;
    transition: 0.2s ease;
}

.ad_main-text-wrapper:hover {
    border: 3px solid #00c3ff;
    box-shadow: 0px 0px 30px #008cff;
}

.ad_main-heading {
    font-size:32px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.ad_main-subtitle {
    font-size:22px;
    color: rgb(255, 255, 255);
}

@media screen {
    .ad_main-section {
        font-size:45px;
    }
}

@media screen and (max-width:768px) {
    .ad_main-text-wrapper {
        padding: 10px;
    }


    .ad_main-heading {
        color:rgb(255, 255, 255);
        font-size:32px;
    }

    .ad_main-subtitle {
        font-size:18px;
        padding: 5px 0 10px 0;
    }
}

@media screen and (max-width:601px) {
    .ad-heading {
        font-size:54px;
    }
}

@media screen and (max-width:400px) {
    .ad_main-img-wrapper {
        visibility:hidden;
    }
}