.class-container {
    border: 1px solid rgba(122, 122, 122, 0.5);
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    background:rgb(45, 42, 58);
}

.class-header {
    font-size: 24px;
    color: white;
    padding: 0px 0px 10px 10px;
    border-bottom: 1px solid rgba(122, 122, 122, 0.5);
    margin-bottom: 20px;
}

.classGrid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

.class-wrapper {
    padding: 5px;
    border-radius:10px;
    transition: 0.2s ease;
    border: 1px solid transparent !important;
}

.class-wrapper:hover {
    cursor: pointer;
    border: 1px solid rgba(122, 122, 122, 0.3) !important;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.02);
    background: rgb(50, 47, 63);
}

.class-wrapper:active {
    box-shadow: 0px 0px 30px rgba(0, 195, 255, 0.5);
    border: 1px solid rgb(0, 195, 255) !important;
    background:rgb(63, 59, 78);
    animation: border 2s infinite;
}

.class-wrapper-header {
    display:inline-flex;
    align-items: center;
    position: relative;
    margin:0;
    top: 50%;
    transform: translateY(-50%);
}

.class-icon {
    width: 36px;
    height: 36px;
}

.class-name {
    padding:0px 0px 0px 15px;
    font-size: 16px;
    /*text-transform: uppercase;*/
    transition: 0.1s ease;
    color: rgb(201, 201, 201) !important;
}

.class-wrapper:hover .class-name {
    color: white !important;
}

.class-spec {
    max-width: fit-content;
    color: black;
    display: block;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s ease;
    /*text-transform: uppercase;*/
}

.class-spec:hover {
    color: #b860ff;
    cursor: pointer;
    padding: 0;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    .classGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:601px) {
    .classGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}