.class-container {
    border: 1px solid rgba(122, 122, 122, 0.5);
    padding: 10px;
    border-radius: 10px;
    /*box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);*/
}

.class-header {
    font-size: 18px;
    color: white;
    padding: 0px 0px 5px 0px;
}

.classGrid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

.class-wrapper {
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    transition: 0.2s ease;
    border: 1px solid rgba(122, 122, 122, 0.1) !important;
}

.class-wrapper:hover {
    cursor: pointer;
    border: 1px solid rgba(122, 122, 122, 0.3) !important;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.05);
}

.class-wrapper:active {
    transform: scale(0.95);
}

.class-wrapper-header {
    display:inline-flex;
    align-items: center;
}

.class-icon {
    width: 32px;
    height: 32px;
}

.class-name {
    padding:0px 0px 0px 5px;
    font-size: 14px;
    /*text-transform: uppercase;*/
    transition: 0.2s ease;
    color: white;
}

.class-spec {
    max-width: fit-content;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s ease;
    /*text-transform: uppercase;*/
}

.class-spec:hover {
    color: #b860ff;
    cursor: pointer;
    padding: 0;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    .classGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:601px) {
    .classGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}