.covenantGrid {
    display: grid;
    gap: 5px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.covenant-container {
    border: 1px solid rgba(122, 122, 122, 0.5);
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    background:rgb(45, 42, 58);
}

.covenant-wrapper {
    background: rgb(49, 49, 49);
    height: 200px;
    border: 1px solid #ffffff00;
    transition: ease;
    filter: saturate(0.6);
    width: auto;
}

.covenant-wrapper:hover {
    cursor: pointer;
    /*transform: scale(1.02);*/
    filter: blur(0px);
    image-rendering:pixelated;
    filter: saturate(1);
    filter: brightness(1.2);
}

.covenant-wrapper:active  {
    transform: scale(0.99);
}

.covenant-pic {
    vertical-align: top;
    transition: ease;
}

.covenant-name {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 1;
}