.raid-container {
    border: 1px solid rgba(122, 122, 122, 0.5);
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    background:rgb(45, 42, 58);
}

.raid-main {
    margin:0;
    width: auto;
}

.raidGrid {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    display: grid;
    gap: 5px;
    border: 1px solid transparent;
    border-radius: 10px !important;
}

.raid-wrapper {
    background: rgb(25, 25, 25);
    height:80px;
    width:auto;
    position: relative;
    transition: 0.1s ease;
    z-index: 1;
    overflow: hidden;
    border-radius: 5px;
}

.raid-wrapper:hover {
    background: rgb(41, 41, 41);
    z-index: 2;
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.05);
}

.raid-wrapper:active  {
    transform: scale(0.99);
}

.raid-pic {
    image-rendering: pixelated;
    vertical-align: top;
    width: 100%;
    position: relative;
    transition: 0.2s ease;
    filter: saturate(0.3);
}

.raid-wrapper:hover > .raid-pic {
    transform:scale(1.05);
    filter: brightness(1.2);
}

.raid-name {
    color: rgb(201, 201, 201);
    font-size: 16px;
    padding: 0px 0px 0px 20px;
    z-index: 1;
    position: absolute;
    margin:0;
    top: 50%;
    transform: translateY(-50%);
}