.raid_main-section {
    margin:0;
    width: auto;
}

.raidGrid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(1);
}

.raid-wrapper {
    /*border: 1px solid #be7bfd00;*/
    transition: ease;
    filter: saturate(0.6);
    width: auto;
    position: relative;
}

.raid-wrapper:hover {
    cursor: pointer;
    /*transform: scale(1.02);*/
    filter: blur(0px);
    image-rendering:pixelated;
    filter: saturate(1);
    filter: brightness(1.2);
}

.raid-wrapper:active  {
    transform: scale(0.99);
}

.raid-pic {
    max-height: 100%;
    overflow: hidden;
    vertical-align: top;
    width: 100%;
    transition: ease;
}

.raid-name {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    padding: 60px 0 0px 30px;
    z-index: 1;
}